---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import Title from '../../components/Title.astro'
import Section from '../../components/Section.astro'
import Seo from '../../class/Seo'
import ReturnAction from '../../class/ReturnAction'
import ButtonAction from '../../class/ButtonAction'

export async function getStaticPaths() {
    const programs = await getCollection('blog')
    return programs.map(entry => ({
        params: {
            title: entry.slug,
        },
        props: {
            entry
        },
    }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
const seoData : Seo = new Seo(entry.data.title, entry.data.subTitle, false)
const returnValues: ReturnAction = new ReturnAction('/blog', 'Faq')
const actions: ButtonAction[] = []
if(entry.data?.callToAction) {
    entry.data.callToAction.forEach((item) => {
        actions.push(new ButtonAction(item.link, item.label))
    })
} else {
    actions.push(new ButtonAction('/contact', 'Une question ? Contactez moi !'))
}

const seoSchema = {
    "@context": "https://schema.org",
    "@graph": [
        {
            "@type": "Webpage",
            "@id":"https://ibf-equicoaching.com/blog/" + entry.slug,
            "url":"https://ibf-equicoaching.com/blog/" + entry.slug,
            "name": entry.data.title,
            breadcrumb: {
                "@id":"https://ibf-equicoaching.com/#breadcrumblist"
            },
            isPartOf: {
                "@id":"https://ibf-equicoaching.com/#website"
            },
            about: {
                "@id":"https://ibf-equicoaching.com/#faq-page"
            },
            audience : {
                "@id":"https://ibf-equicoaching.com/#audience",
            },
            datePublished : "2019-01-01T10:30:52+00:00 UTC+00:00",
            "description": entry.data.subTitle,
            "inLanguage":"fr-FR",
            author : {
                "@id":"https://ibf-equicoaching.com/#person"
            }
        },
        {
            "@type": "Website",
            "@id":"https://ibf-equicoaching.com/#website",
            "url": "https://ibf-equicoaching.com/",
            about: {
                "name" : "IBF Equicoaching"
            },
            "description" : "Formations et séances d'équicoaching pour entreprises et particuliers",
            audience : {
                "@id":"https://ibf-equicoaching.com/#audience",
            },
            datePublished : "2019-01-01T10:30:52+00:00 UTC+00:00",
            "alternateName" : "Equicoaching et Formations",
            isFamilyFriendly: true,
            publisher:{
                "@id":"https://ibf-equicoaching.com/#organization"
            },
            author : {
                "@id":"https://ibf-equicoaching.com/#person"
            },
        },
        {
            "@type": "FAQPage",
            "@id":"https://ibf-equicoaching.com/#faq-page",
            isPartOf: {
                "@id":"https://ibf-equicoaching.com/blog/" + entry.slug,
            },
            reviewedBy: {
                "@id":"https://ibf-equicoaching.com/#person"
            },
            "abstract": "",
            "name": entry.data.title,
            "headline": entry.data.title,
            "keywords": "" + entry.data.keywords,
            "image": entry.data.image,
            author : {
                "@id":"https://ibf-equicoaching.com/#person"
            },
            mainEntity:{
                "@type": "Question",
                "name": entry.data.title,
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": entry.data.response
                }
            },
            speakable: {
                "@type": "SpeakableSpecification",
                "cssSelector": [".m-section-content > p"]
            },
            mainContentOfPage: {
                "@type": "WebPageElement",
                "cssSelector": [".m-section-content"]
            }
        },
        {
            "@type": "Article",
            "@id":"https://ibf-equicoaching.com/#article",
            isPartOf: {
                "@id":"https://ibf-equicoaching.com/blog/" + entry.slug,
            },
            headline: entry.data.title,
            name: entry.data.title,
            datePublished : "2024-01-01T10:30:52+00:00 UTC+00:00",
            dateModified : "2024-02-01T10:30:52+00:00 UTC+00:00",
            thumbnailUrl: entry.data.image,
            articleSection: entry.data.title,
            wordCount: entry.data.word,
            keywords: "" + entry.data.keywords,
            author : {
                "@id":"https://ibf-equicoaching.com/#person"
            },
            "image": entry.data.image,
        },
        {
            "@type": "Organization",
            "@id":"https://ibf-equicoaching.com/#organization",
            "name": "IBF Equicoaching",
            "url": "https://ibf-equicoaching.com",
            "slogan" : "Vers vos objectifs, Ensemble",
            "logo" : "https://www.ibf-equicoaching.com/img/logo-50x50.webp",
            "image" : "https://www.ibf-equicoaching.com/img/logo-50x50.webp",
            "alternateName":"Equicoaching et Formations",
            location : {
                "@id":"https://ibf-equicoaching.com/#address"
            },
            founder : {
                "@id":"https://ibf-equicoaching.com/#person",
                "name" :"Camille Marzec",
                "url": "https://ibf-equicoaching.com/about"
            },
            address : {
                "@id":"https://ibf-equicoaching.com/#address"
            },
            "email" : "ibf.equicoaching@gmail.com",
            "telephone" : "(+33)6 10 83 37 88",
            "sameAs":[
                "https://www.linkedin.com/company/ibf-equicoaching/",
                "https://www.instagram.com/ibf_equicoaching/",
                "https://www.facebook.com/ibfequicoaching",
                "https://youtube.com/@IBFEquicoaching"
            ],
        },
        {
            "@type": "PostalAddress",
            "@id":"https://ibf-equicoaching.com/#address",
            "addressCountry" : "FR",
            "addressRegion" : "Rhône-Alpes",
            "postalCode" : "38570",
            "addressLocality" : "Theys",
            "streetAddress" : "358 route d'Hurtieres"
        },
        {
            "@type": "Audience",
            "@id":"https://ibf-equicoaching.com/#audience",
            "audienceType" : "Entreprises et particuliers",
        },
        {
            "@type": "Person",
            "@id":"https://ibf-equicoaching.com/#person",
            "givenName" : "Camille",
            "familyName" : "Marzec"
        },
        {
            "@type": "BreadcrumbList",
            "@id":"https://ibf-equicoaching.com/#breadcrumblist",
            "name": "Fil d'Ariane",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "item":
                        {
                            "@id": "https://ibf-equicoaching.com",
                            "name": "Home"
                        }
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "item":
                        {
                            "@id": "https://ibf-equicoaching.com/blog",
                            "name": "Faq"
                        }
                },
                {
                    "@type": "ListItem",
                    "position": 3,
                    "item":
                        {
                            "@id": "https://ibf-equicoaching.com/blog/" + entry.slug,
                            "name": entry.data.title
                        }
                }
            ],
        }
    ]
}
---
<Layout title={entry.data.title} seoData={seoData} seoSchema={seoSchema}>
    <main>
        <Title title={entry.data.title} returnValues={returnValues}/>
        <Section actions={actions} wide="true">
            <h2 slot="section-title">{entry.data.subTitle}</h2>
            <Content slot="section-content" />
        </Section>
    </main>
</Layout>