---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import Section from '../components/Section.astro';
import Seo from '../class/Seo';
import ReturnAction from '../class/ReturnAction'
import Image from '../class/Image'
import ButtonAction from '../class/ButtonAction'

const returnValues: ReturnAction = new ReturnAction('/bons', 'Bons cadeaux')
const image: Image = new Image('/img/bons-320x320.webp', 'bons cadeaux equicoaching', null, null)
const actions: ButtonAction[] = [new ButtonAction
(
        '/contact',
        'Offrez de l\'équicoaching'
)]
const seoData: Seo = new Seo('IBF Equicoaching | Chèques cadeaux', 'Offrez de l\'équicoaching en cadeau, pour une occasion ou pour les fêtes. Osez le cadeau bien être !', false);

const seoSchema = {
    "@context": "https://schema.org",
    "@graph": [
        {
            "@type": "Webpage",
            "@id":"https://ibf-equicoaching.com/bons",
            "url":"https://ibf-equicoaching.com/bons",
            "name":"IBF Equicoaching : Bons cadeaux",
            isPartOf: {
                "@id":"https://ibf-equicoaching.com/#website"
            },
            breadcrumb: {
                "@id":"https://ibf-equicoaching.com/#breadcrumblist"
            },
            about: {
                "@id":"https://ibf-equicoaching.com/#product"
            },
            audience : {
                "@id":"https://ibf-equicoaching.com/#audience",
            },
            datePublished : "2019-01-01T10:30:52+00:00 UTC+00:00",
            "description":"IBF Equicoaching : Offrez de l'équicoaching",
            "inLanguage":"fr-FR",
            author : {
                "@id":"https://ibf-equicoaching.com/#person"
            },
            offers : {
                "@id":"https://ibf-equicoaching.com/#offer"
            }
        },
        {
            "@type": "Website",
            "@id":"https://ibf-equicoaching.com/#website",
            "url": "https://ibf-equicoaching.com/",
            about: {
                "name" : "IBF Equicoaching"
            },
            "description" : "Formations et séances d'équicoaching pour entreprises et particuliers",
            audience : {
                "@id":"https://ibf-equicoaching.com/#audience",
            },
            datePublished : "2019-01-01T10:30:52+00:00 UTC+00:00",
            "alternateName" : "Equicoaching et Formations",
            isFamilyFriendly: true,
            publisher:{
                "@id":"https://ibf-equicoaching.com/#organization"
            },
            author : {
                "@id":"https://ibf-equicoaching.com/#person"
            },
        },
        {
            "@type": "Organization",
            "@id":"https://ibf-equicoaching.com/#organization",
            "name": "IBF Equicoaching",
            "slogan" : "Vers vos objectifs, Ensemble",
            "logo" : "https://www.ibf-equicoaching.com/img/logo-50x50.webp",
            "image" : "https://www.ibf-equicoaching.com/img/logo-50x50.webp",
            "alternateName":"Equicoaching et Formations",
            location : {
                "@id":"https://ibf-equicoaching.com/#address"
            },
            founder : {
                "@id":"https://ibf-equicoaching.com/#person",
            },
            address : {
                "@id":"https://ibf-equicoaching.com/#address"
            },
            "email" : "ibf.equicoaching@gmail.com",
            "telephone" : "(+33)6 10 83 37 88",
            "sameAs":[
                "https://www.linkedin.com/company/ibf-equicoaching/",
                "https://www.instagram.com/ibf_equicoaching/",
                "https://www.facebook.com/ibfequicoaching",
                "https://youtube.com/@IBFEquicoaching"
            ]
        },
        {
            "@type": "PostalAddress",
            "@id":"https://ibf-equicoaching.com/#address",
            "addressCountry" : "FR",
            "addressRegion" : "Rhône-Alpes",
            "postalCode" : "38570",
            "addressLocality" : "Theys",
            "streetAddress" : "358 route d'Hurtieres"
        },
        {
            "@type": "Audience",
            "@id":"https://ibf-equicoaching.com/#audience",
            "audienceType" : "Entreprises et particuliers",
        },
        {
            "@type": "Person",
            "@id":"https://ibf-equicoaching.com/#person",
            "givenName" : "Camille",
            "familyName" : "Marzec"
        },
        {
            "@type": "Product",
            "@id":"https://ibf-equicoaching.com/#product",
            "name": "Bon cadeau IBF Equicoaching",
            "description": "Bon cadeau pour une prestation IBF Equicoaching",
            "image": "https://www.ibf-equicoaching.com/img/bons-320x320.webp",
            offers : {
                "@id":"https://ibf-equicoaching.com/#offer",
            },
            "aggregateRating": {
                "@type": "AggregateRating",
                "ratingValue": "5",
                "reviewCount": "4"
            },
            "review": [
                {
                    "@type": "Review",
                    "author": {
                        "@type": "Person",
                        "name" :"Lucie D.",
                        "givenName" :"Lucie D."
                    },
                    "datePublished": "2019-12-01",
                    "reviewBody": "Une séance m'a été offerte en cadeau, quel beau cadeau ! J'ai pu laisser libre cours à mes émotions avec l'aide de Camille, et j'essayais d'entrer en lien avec le cheval, je voyais comment il réagissait. C'était un ressenti très puissant, et dans un lieu vraiment superbe. Je recommande vivement ! ",
                    "name": "Un beau cadeau",
                    "reviewRating": {
                        "@type": "Rating",
                        "bestRating": "5",
                        "ratingValue": "1",
                        "worstRating": "1"
                    }
                },
                {
                    "@type": "Review",
                    "author": {
                        "@type": "Person",
                        "name" :"Céline L.",
                        "givenName" :"Céline L."
                    },
                    "datePublished": "2020-03-12",
                    "reviewBody": "Merci pour cet accompagnement original et puissant pendant cette période si difficile de ma vie. ",
                    "name": "Accompagnement puissant",
                    "reviewRating": {
                        "@type": "Rating",
                        "bestRating": "5",
                        "ratingValue": "5",
                        "worstRating": "1"
                    }
                },
                {
                    "@type": "Review",
                    "author": {
                        "@type": "Person",
                        "name" :"Céline G.",
                        "givenName" :"Céline G."
                    },
                    "datePublished": "2020-03-12",
                    "reviewBody": "Camille est la personne qui réveillera l'instinct qui est en vous. Etant quelqu'un de très mental, elle a su me faire lâcher prise et me connecter à moi et à mon environnement, avec une douceur et facilité impressionnante. Un moment ressourçant de pur bonheur, si simple et pourtant si difficile à atteindre. Merci Camille. ",
                    "name": "Une super expérience",
                    "reviewRating": {
                        "@type": "Rating",
                        "bestRating": "5",
                        "ratingValue": "5",
                        "worstRating": "1"
                    }
                },
                {
                    "@type": "Review",
                    "author": {
                        "@type": "Person",
                        "name" :"Nathalie B.",
                        "givenName" :"Nathalie B."
                    },
                    "datePublished": "2020-05-10",
                    "reviewBody": "L'equicoaching, une belle expérience à vivre, je vous invite à tester avec une super equicoach : Camille. Elle saura trouver les bonnes questions pour vous faire prendre conscience de vos besoins en toute bienveillance. Merci Camille ",
                    "name": "Une super coach !",
                    "reviewRating": {
                        "@type": "Rating",
                        "bestRating": "5",
                        "ratingValue": "5",
                        "worstRating": "1"
                    }
                },
            ]
        },
        {
            "@type": "Offer",
            "@id":"https://ibf-equicoaching.com/#offer",
            "availability": "https://schema.org/InStock",
            "description": "Bon cadeau IBF Equicoaching, pour une séance, un suivi ou un atelier",
            "seller" : {
                "@id":"https://ibf-equicoaching.com/#organization",
            },
            "name":"Bon cadeau IBF Equicoaching",
            "image": "https://www.ibf-equicoaching.com/img/bons-320x320.webp",
            "acceptedPaymentMethod" : [
                {
                    "@type" : "PaymentMethod",
                    "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                },
                {
                    "@type" : "PaymentMethod",
                    "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                }
            ],
            "priceCurrency": "EUR",
            "highPrice": "350",
            "lowPrice": "55",
            "price": "55",
            "priceValidUntil": "2026-01-01T12:00:00+00:00 UTC+00:00",
            hasMerchantReturnPolicy: {
                "@type": "MerchantReturnPolicy",
                "applicableCountry": "FR",
                "returnPolicyCategory": "https://schema.org/MerchantReturnFiniteReturnWindow",
                "merchantReturnDays": 180,
                "returnMethod": "https://schema.org/ReturnByMail",
                "returnFees": "https://schema.org/FreeReturn"
            },
            shippingDetails: {
                "@id":"https://ibf-equicoaching.com/#offershippingdetails",
            }
        },
        {
            "@type": "OfferShippingDetails",
            "@id":"https://ibf-equicoaching.com/#offershippingdetails",
            shippingDestination: {
                "@type": "DefinedRegion",
                "addressCountry": "FR",
                "postalCodeRange": {
                    "@type": "PostalCodeRangeSpecification",
                    "postalCodeBegin": "0",
                    "postalCodeEnd": "99999"
                }
            },
            "deliveryTime": {
                "@type": "ShippingDeliveryTime",
                "businessDays": {
                    "@type": "OpeningHoursSpecification",
                    "dayOfWeek": [
                        "https://schema.org/Monday",
                        "https://schema.org/Tuesday",
                        "https://schema.org/Wednesday",
                        "https://schema.org/Thursday",
                        "https://schema.org/Friday",
                        "https://schema.org/Saturday"
                    ]
                },
                "cutoffTime": "12:00:00Z",
                "handlingTime": {
                    "@type": "QuantitativeValue",
                    "minValue": 1,
                    "maxValue": 3,
                    "unitCode": "d"
                },
                "transitTime": {
                    "@type": "QuantitativeValue",
                    "minValue": 2,
                    "maxValue": 7,
                    "unitCode": "d"
                }
            },
            "shippingRate": {
                "@type": "MonetaryAmount",
                "value": 0,
                "currency": "EUR"
            }
        },
        {
            "@type": "BreadcrumbList",
            "@id":"https://ibf-equicoaching.com/#breadcrumblist",
            "name": "Fil d'Ariane",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "item":
                        {
                            "@id": "https://ibf-equicoaching.com",
                            "name": "Home"
                        }
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "item":
                        {
                            "@id": "https://ibf-equicoaching.com/bons",
                            "name": "Bons cadeaux IBF Equicoaching"
                        }
                },
            ],
        }
    ]
}
---

<Layout title="IBF Equicoaching | Chèques cadeaux" seoData={seoData} seoSchema={seoSchema}>
    <main>
        <Title title="Bons Cadeaux" returnValues={returnValues}/>
        <Section displayTextLeft="true" subTitle="Chèques cadeaux IBF équicoaching" imgContent={image}
                 actions={actions}>
            <h2 slot="section-title">Faites vous plaisir, faites plaisir à vos proches</h2>
            <Fragment slot="section-content">
                <p>
                    Envie d'une idée cadeau originale ? Offrez de l'équicoaching !
                </p>
                <p>
                    A la séance, en forfait ou pour un atelier, c'est vous qui choisissez !
                </p>
                <p>
                    Paiement par virement ou par chèque, Remise en main propre ou par voie postale.
                </p>
            </Fragment>
        </Section>
    </main>
</Layout>
