---
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'
import Section from '../components/Section.astro'
import SeparatorBg from '../components/SeparatorBg.astro'
import Seo from '../class/Seo'
import Image from '../class/Image'
import ReturnAction from '../class/ReturnAction'
import ButtonAction from '../class/ButtonAction'

const returnValues: ReturnAction = new ReturnAction('/company', 'Entreprises')
const firstImage: Image = new Image('/img/company-400x320.webp', 'Camille Marzec fondatrice', 400, 320)
const secondImage: Image = new Image('/img/company-mouz-320x320.webp', 'Camille Marzec fondatrice', null, null)
const firstSubTitle = 'Pour vous permettre de :'
const secondSubTitle = ' Définissez vos leviers d\'actions'
const actions: ButtonAction[] = [new ButtonAction(
    '/pricing-training',
    'Formations'
    ),
    new ButtonAction(
        '/contact',
        'Demandez votre devis gratuit'
    )]
const seoData: Seo = new Seo('IBF Equicoaching | Formations et team building pour entreprises', 'Entreprises, découvrez nos formations !', false);
const seoSchema = {
    "@context": "https://schema.org",
    "@graph": [
        {
            "@type": "Webpage",
            "@id":"https://ibf-equicoaching.com/company",
            "url":"https://ibf-equicoaching.com/company",
            "name":"IBF Equicoaching : Formations et équicoaching",
            isPartOf: {
                "@id":"https://ibf-equicoaching.com/#website"
            },
            breadcrumb: {
                "@id":"https://ibf-equicoaching.com/#breadcrumblist"
            },
            about: {
                "@id":"https://ibf-equicoaching.com/#organization"
            },
            audience : {
                "@id":"https://ibf-equicoaching.com/#audience",
            },
            datePublished : "2019-01-01T10:30:52+00:00 UTC+00:00",
            "description":"IBF Equicoaching : Formations pour vos équipes,  vos managers ou pour particuliers",
            "inLanguage":"fr-FR",
            author : {
                "@id":"https://ibf-equicoaching.com/#person"
            }
        },
        {
            "@type": "Website",
            "@id":"https://ibf-equicoaching.com/#website",
            "url": "https://ibf-equicoaching.com/",
            about: {
                "name" : "IBF Equicoaching"
            },
            "description" : "Formations et séances d'équicoaching pour entreprises et particuliers",
            audience : {
                "@id":"https://ibf-equicoaching.com/#audience",
            },
            datePublished : "2019-01-01T10:30:52+00:00 UTC+00:00",
            "alternateName" : "Equicoaching et Formations",
            isFamilyFriendly: true,
            publisher:{
                "@id":"https://ibf-equicoaching.com/#organization"
            },
            author : {
                "@id":"https://ibf-equicoaching.com/#person"
            },
        },
        {
            "@type": "Organization",
            "@id":"https://ibf-equicoaching.com/#organization",
            "name": "IBF Equicoaching",
            "slogan" : "Vers vos objectifs, Ensemble",
            "logo" : "https://www.ibf-equicoaching.com/img/logo-50x50.webp",
            "image" : "https://www.ibf-equicoaching.com/img/logo-50x50.webp",
            "alternateName":"Equicoaching et Formations",
            location : {
                "@id":"https://ibf-equicoaching.com/#address"
            },
            founder : {
                "@id":"https://ibf-equicoaching.com/#person",
            },
            address : {
                "@id":"https://ibf-equicoaching.com/#address"
            },
            "email" : "ibf.equicoaching@gmail.com",
            "telephone" : "(+33)6 10 83 37 88",
            "sameAs":[
                "https://www.linkedin.com/company/ibf-equicoaching/",
                "https://www.instagram.com/ibf_equicoaching/",
                "https://www.facebook.com/ibfequicoaching",
                "https://youtube.com/@IBFEquicoaching"
            ],
            hasOfferCatalog: {
                "@id":"https://ibf-equicoaching.com/#offerCatalog",
            },
        },
        {
            "@type": "OfferCatalog",
            "@id":"https://ibf-equicoaching.com/#offerCatalog",
            "name": "Prestations et Formations",
            "description" : "Formations pour managers, équipes ou en individuel. Prestation et séances d'équicoaching sur mesure.",
            "itemListElement": [
                {
                    "@id":"https://ibf-equicoaching.com/#offerCatalogEquicoaching",
                },
                {
                    "@id":"https://ibf-equicoaching.com/#offerCatalogEquitation",
                },
                {
                    "@id":"https://ibf-equicoaching.com/#offerFormation",
                }
            ]
        },
        {
            "@type": "OfferCatalog",
            "@id":"https://ibf-equicoaching.com/#offerFormation",
            "name": "Formations",
            "description" : "Formations pour managers, équipes ou en individuel",
            "itemListElement": [
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Posture Managériale et Leadership",
                    "seller" : {
                        "@id":"https://ibf-equicoaching.com/#organization",
                    },
                    "name":"Posture Managériale et Leadership",
                    "acceptedPaymentMethod" : [
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                    ],
                    "price" : 800,
                    "priceCurrency": "EUR",
                },
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Cohésion et Communication",
                    "seller" : {
                        "@id":"https://ibf-equicoaching.com/#organization",
                    },
                    "name":"Cohésion et Communication",
                    "acceptedPaymentMethod" : [
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                    ],
                    "price" : 800,
                    "priceCurrency": "EUR",
                },
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Developper ses Soft Skills",
                    "seller" : {
                        "@id":"https://ibf-equicoaching.com/#organization",
                    },
                    "name":"Developper ses Soft Skills",
                    "acceptedPaymentMethod" : [
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                    ],
                    "price" : 800,
                    "priceCurrency": "EUR",
                }
            ]
        },
        {
            "@type": "OfferCatalog",
            "@id":"https://ibf-equicoaching.com/#offerCatalogEquitation",
            "name": "Prestations Equitation",
            "itemListElement": [
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Cours Collectif Equitation, 4 personnes max, en centre équestre uniquement",
                    "seller" : {
                        "@id":"https://ibf-equicoaching.com/#organization",
                    },
                    "name":"Cours Collectif Equitation",
                    "acceptedPaymentMethod" : [
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price" : 35,
                    "priceCurrency": "EUR",
                },
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Cours Particulier Equitation, en centre équestre uniquement",
                    "seller" : {
                        "@id":"https://ibf-equicoaching.com/#organization",
                    },
                    "name":"Cours Particulier Equitation",
                    "acceptedPaymentMethod" : [
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price" : 50,
                    "priceCurrency": "EUR",
                }
            ]
        },
        {
            "@type": "OfferCatalog",
            "@id":"https://ibf-equicoaching.com/#offerCatalogEquicoaching",
            "name": "Prestations Equicoaching",
            "itemListElement": [
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Atelier découverte Equicoaching, 6 personnes max",
                    "seller" : {
                        "@id":"https://ibf-equicoaching.com/#organization",
                    },
                    "name":"Atelier découverte Equicoaching",
                    "acceptedPaymentMethod" : [
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price" : 55,
                    "priceCurrency": "EUR",
                },
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Séance Individuelle Equicoaching",
                    "seller" : {
                        "@id":"https://ibf-equicoaching.com/#organization",
                    },
                    "name":"Séance Individuelle Equicoaching",
                    "acceptedPaymentMethod" : [
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price" : 80,
                    "priceCurrency": "EUR",
                },
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Forfait 5 séances Equicoaching",
                    "seller" : {
                        "@id":"https://ibf-equicoaching.com/#organization",
                    },
                    "name":"Forfait 5 séances Equicoaching",
                    "acceptedPaymentMethod" : [
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price" : 350,
                    "priceCurrency": "EUR",
                }
            ]
        },
        {
            "@type": "PostalAddress",
            "@id":"https://ibf-equicoaching.com/#address",
            "addressCountry" : "FR",
            "addressRegion" : "Rhône-Alpes",
            "postalCode" : "38570",
            "addressLocality" : "Theys",
            "streetAddress" : "358 route d'Hurtieres"
        },
        {
            "@type": "Audience",
            "@id":"https://ibf-equicoaching.com/#audience",
            "audienceType" : "Entreprises et particuliers",
        },
        {
            "@type": "Person",
            "@id":"https://ibf-equicoaching.com/#person",
            "givenName" : "Camille",
            "familyName" : "Marzec"
        },
        {
            "@type": "BreadcrumbList",
            "@id":"https://ibf-equicoaching.com/#breadcrumblist",
            "name": "Fil d'Ariane",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "item":
                        {
                            "@id": "https://ibf-equicoaching.com",
                            "name": "Home"
                        }
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "item":
                        {
                            "@id": "https://ibf-equicoaching.com/company",
                            "name": "Entreprise IBF Equicoaching"
                        }
                },
            ],
        }
    ]
}
---
<Layout title="IBF Equicoaching | Entreprise" seoData={seoData} seoSchema={seoSchema}>
    <main>
        <Title title="L\'équicoaching en entreprise" returnValues={returnValues}/>
        <Section subTitle={firstSubTitle} displayTextLeft="true" imgContent={firstImage}>
            <h2 slot="section-title">Une approche innovante</h2>
            <ul slot="section-content">
                <li>Développer vos <strong>Soft Skills</strong></li>
                <li>Renforcer / Developper <strong>la cohésion de groupe</strong></li>
                <li><strong>Intégrer</strong> de nouveaux collaborateurs</li>
                <li><strong>Expérimenter</strong> de nouvelles stratégies de vente</li>
                <li>Developper votre leadership</li>
                <li>Developper votre <strong>intelligence émotionnelle</strong></li>
                <li><strong>Trouver votre place</strong> au sein d'une équipe, de votre entreprise</li>
                <li>Expérimenter différents <strong>types de communications</strong></li>
                <li>Prendre conscience de vos points forts et vos points faibles, et mettre en place des <strong>stratégies pour
                    atteindre vos objectifs</strong>
                </li>
            </ul>
        </Section>
        <SeparatorBg/>
        <Section subTitle={secondSubTitle} imgContent={secondImage} actions={actions}>
            <h3 slot="section-title">Actions possibles </h3>
            <ul slot="section-content">
                <li><strong>Suivi individuel</strong> du collaborateur</li>
                <li><strong>Groupes de 2 à 6 personnes</strong> à la journée ou demi journée</li>
                <li><strong>Groupes de 10 personnes et plus</strong>, à la journée ou sur deux jours</li>
            </ul>
        </Section>
    </main>
</Layout>
