---
import LayoutPanels from '../layouts/LayoutPanels.astro'
import Title from '../components/Title.astro'
import PanelEvent from '../components/PanelEvent.astro'
import EventFormWrapper from '../components/EventFormWrapper.astro'
import '../styles/m-main.scss'
import Seo from '../class/Seo'
import ReturnAction from '../class/ReturnAction'
import Event from '../class/Event'

const returnValues : ReturnAction = new ReturnAction('/events', 'Nos évènements')
const seoData : Seo = new Seo('IBF Equicoaching | Nos Evenements et Ateliers', 'Réservez votre place pour un atelier ou un évènement équestre ou équicoaching.', false)

const events: Event[] = [
    new Event(12, 'Reconnexion à soi', true, new Date('2023-05-18')),
    new Event(11, 'Mon projet professionnel', true, new Date('2023-05-15')),
    new Event(10, 'Developper sa confiance en soi', true, new Date('2023-04-22')),
    new Event(9, 'Reconnexion à soi', true, new Date('2022-09-24')),
    new Event(8, 'Confiance en soi', true, new Date('2022-09-10')),
]
const pastEvents: Event[] = []
const futureEvents: Event[] = []
events.forEach((event: Event): void => {
    event.date > new Date() ? futureEvents.push(event) : pastEvents.push(event)
})
---

<LayoutPanels title="IBF Equicoaching | Evenements" seoData={seoData}>
    <main>
        <Title title="Evenements" returnValues={returnValues}/>
        <div class="m-main">
            <h2 class="m-main-title">Inscrivez vous à mes prochains évènements</h2>
            {(!futureEvents || futureEvents.length <= 0) && (
                    <p class="m-main-empty">
                        Aucun évènenement n'est prévu pour le moment. <a href="/contact">Contactez moi pour plus d'informations
                        sur les suivants !</a>
                    </p>
            )}
            {futureEvents.map(event => {
                let eventFullName: string = ''
                if(event.isDiscover){
                    eventFullName += `Atelier découverte #${event.id} - `
                }
                eventFullName += `${event.name} - ${event.date.toLocaleDateString('fr-FR')} - 9h/12h`
                return (
                        <PanelEvent title={eventFullName}
                                    id={event.id}>
                            <Fragment slot="panel-content">
                                <p>
                                    Inscriptions au 06.10.83.37.88, par mail via ibf.equicoaching@gmail.com ou par le formulaire ci dessous.
                                </p>
                            </Fragment>
                        </PanelEvent>
                )
            })}
            {(futureEvents && futureEvents.length > 0) && (<EventFormWrapper events={futureEvents} />)}
            <h3>Evenements passés</h3>
            {pastEvents.map(event => {
                let eventFullName: string = ''
                if(event.isDiscover){
                    eventFullName += `Atelier découverte #${event.id} - `
                }
                eventFullName += `${event.name} - ${event.date.toLocaleDateString('fr-FR')} - 9h/12h`
                return (
                        <PanelEvent title={eventFullName}
                                    id={event.id}>
                            <Fragment slot="panel-content">
                                <p>
                                    Il n'est plus possible de s'inscrire pour cet évènement.
                                </p>
                            </Fragment>
                        </PanelEvent>
                )
            })}
        </div>
    </main>
</LayoutPanels>
