---
import LayoutPanels from '../layouts/LayoutPanels.astro'
import Title from '../components/Title.astro'
import PanelEvent from '../components/PanelEvent.astro'
import EventFormWrapper from '../components/EventFormWrapper.astro'
import '../styles/m-main.scss'
import Seo from '../class/Seo'
import ReturnAction from '../class/ReturnAction'
import Event from '../class/Event'
import {eventList} from '../content/data/EventList'

const returnValues: ReturnAction = new ReturnAction('/events', 'Nos évènements')
const seoData: Seo = new Seo('IBF Equicoaching | Nos Evenements et Ateliers', 'Réservez votre place pour un atelier ou un évènement équestre ou équicoaching.', false)

const events: Event[] = eventList;
const pastEvents: Event[] = []
const futureEvents: Event[] = []
const futureEventsSeo: [] = []

events.forEach((event: Event): void => {
    if(event.date > new Date()) {
        futureEvents.push(event)
        futureEventsSeo.push({
            "@context" : "https://schema.org",
            "@type" : "Event",
            "@id" : `https://ibf-equicoaching.com/#events-${event.id}`,
            "name" : event.name,
            "duration" : "3H",
            "startDate" : event.date.toLocaleDateString('en-EN'),
            "endDate" : event.date.toLocaleDateString('en-EN'),
            "eventStatus": "https://schema.org/EventScheduled",
            location: {
                "@type": "Place",
                "name": "IBF Equicoaching Theys",
                "address": {
                    "@id":"https://ibf-equicoaching.com/#address"
                }
            },
            performer : {
                "@id":"https://ibf-equicoaching.com/#organization",
            },
            organizer : {
                "@id":"https://ibf-equicoaching.com/#organization",
            },
            "description" : event.descr,
            "image": "https://www.ibf-equicoaching.com/img/seminaire-320x320.webp",
            "eventAttendanceMode" : "https://schema.org/OfflineEventAttendanceMode",
            offers: {
                "@type": "Offer",
                "price": 55,
                "priceCurrency": "EUR",
                "availability": "https://schema.org/InStock",
                "validFrom": event.date.toISOString(),
            },
        })
    } else {
        pastEvents.push(event)
    }
})

let seoSchema = {
    "@context": "https://schema.org",
    "@graph": [
        {
            "@type": "Webpage",
            "@id":"https://ibf-equicoaching.com/events",
            "url":"https://ibf-equicoaching.com/events",
            "name":"IBF Equicoaching : évenements",
            isPartOf: {
                "@id":"https://ibf-equicoaching.com/#website"
            },
            breadcrumb: {
                "@id":"https://ibf-equicoaching.com/#breadcrumblist"
            },
            about: {
                "@id":"https://ibf-equicoaching.com/#events"
            },
            audience : {
                "@id":"https://ibf-equicoaching.com/#audience",
            },
            datePublished : "2019-01-01T10:30:52+00:00 UTC+00:00",
            "description":"IBF Equicoaching : évenements et ateliers, inscrivez vous !",
            "inLanguage":"fr-FR",
            author : {
                "@id":"https://ibf-equicoaching.com/#person"
            }
        },
        {
            "@type": "Website",
            "@id":"https://ibf-equicoaching.com/#website",
            "url": "https://ibf-equicoaching.com/",
            about: {
                "name" : "IBF Equicoaching"
            },
            "description" : "Formations et séances d'équicoaching pour entreprises et particuliers",
            audience : {
                "@id":"https://ibf-equicoaching.com/#audience",
            },
            datePublished : "2019-01-01T10:30:52+00:00 UTC+00:00",
            "alternateName" : "Equicoaching et Formations",
            isFamilyFriendly: true,
            publisher:{
                "@id":"https://ibf-equicoaching.com/#organization"
            },
            author : {
                "@id":"https://ibf-equicoaching.com/#person"
            },
        },
        {
            "@type": "Organization",
            "@id":"https://ibf-equicoaching.com/#organization",
            "name": "IBF Equicoaching",
            "url": "https://ibf-equicoaching.com",
            "slogan" : "Vers vos objectifs, Ensemble",
            "logo" : "https://www.ibf-equicoaching.com/img/logo-50x50.webp",
            "image" : "https://www.ibf-equicoaching.com/img/logo-50x50.webp",
            "alternateName":"Equicoaching et Formations",
            location : {
                "@id":"https://ibf-equicoaching.com/#address"
            },
            founder : {
                "@id":"https://ibf-equicoaching.com/#person",
            },
            address : {
                "@id":"https://ibf-equicoaching.com/#address"
            },
            "email" : "ibf.equicoaching@gmail.com",
            "telephone" : "(+33)6 10 83 37 88",
            "sameAs":[
                "https://www.linkedin.com/company/ibf-equicoaching/",
                "https://www.instagram.com/ibf_equicoaching/",
                "https://www.facebook.com/ibfequicoaching",
                "https://youtube.com/@IBFEquicoaching"
            ],
        },
        {
            "@type": "PostalAddress",
            "@id":"https://ibf-equicoaching.com/#address",
            "addressCountry" : "FR",
            "addressRegion" : "Rhône-Alpes",
            "postalCode" : "38570",
            "addressLocality" : "Theys",
            "streetAddress" : "358 route d'Hurtieres"
        },
        {
            "@type": "Audience",
            "@id":"https://ibf-equicoaching.com/#audience",
            "audienceType" : "Entreprises et particuliers",
        },
        {
            "@type": "Person",
            "@id":"https://ibf-equicoaching.com/#person",
            "givenName" : "Camille",
            "familyName" : "Marzec"
        },
        {
            "@type": "BreadcrumbList",
            "@id":"https://ibf-equicoaching.com/#breadcrumblist",
            "name": "Fil d'Ariane",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "item":
                        {
                            "@id": "https://ibf-equicoaching.com",
                            "name": "Home"
                        }
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "item":
                        {
                            "@id": "https://ibf-equicoaching.com/events",
                            "name": "Mes évènements"
                        }
                },
            ],
        }
    ]
}

if(futureEventsSeo && futureEventsSeo.length > 0){
    futureEventsSeo.forEach((event) => {
        seoSchema["@graph"].push(event)
    })
}
---

<LayoutPanels title="IBF Equicoaching | Evenements" seoData={seoData} seoSchema={seoSchema}>
    <main>
        <Title title="Evenements" returnValues={returnValues}/>
        <div class="m-main">
            <h2 class="m-main-title">Inscrivez vous à mes prochains évènements</h2>
            {(!futureEvents || futureEvents.length <= 0) && (
                    <p class="m-main-empty">
                        Aucun évènenement n'est prévu pour le moment. <a href="/contact">Contactez moi pour plus
                        d'informations
                        sur les suivants !</a>
                    </p>
            )}
            {futureEvents.map((event) => {
                let eventFullName = ''
                if (event.isDiscover) {
                    eventFullName += `Atelier découverte #${event.id} - `
                }
                eventFullName += `${event.name} - ${event.date.toLocaleDateString('fr-FR')} - ${event.isAfternoon ? '14/17h' : '9h/12h'}`
                return (
                    <PanelEvent title={eventFullName}
                                id={event.id}
                    >
                        <Fragment slot="panel-content-1">
                            <p>
                                {event.descr}
                            </p>
                        </Fragment>
                        <Fragment slot="panel-content-2">
                            <p>Tarif : {event.price > 0 ? event.price + '€/pers' : 'Gratuit'}</p>
                            <p>
                                Inscriptions au 06.10.83.37.88, par mail via ibf.equicoaching@gmail.com, ou par le
                                formulaire ci dessous.
                            </p>
                            <p>
                                <a href="/blog/equicoaching-quest-ce-que-cest">Qu'est ce que l'équicoaching ?</a><br/>
                                Une autre question ? <a href="/blog">Accédez a la faq</a><br/>
                                Pour toute autre demande ou question : <a href="/contact">utilisez le formulaire de
                                contact</a><br/>
                                <a href="/blog/deroulement-atelier-decouverte">Comment se déroule un atelier en
                                    équicoaching ?</a><br/>
                            </p>
                        </Fragment>
                    </PanelEvent>
                )
            })}
            {(futureEvents && futureEvents.length > 0) && (
                    <EventFormWrapper events={futureEvents}/>
            )}
            <h3>Evenements passés</h3>
            {pastEvents.map(event => {
                let eventFullName = ''
                if (event.isDiscover) {
                    eventFullName += `Atelier découverte #${event.id} - `
                }
                eventFullName += `${event.name} - ${event.date.toLocaleDateString('fr-FR')} - ${event.isAfternoon ? '14/17h' : '9h/12h'}`
                return (
                        <PanelEvent title={eventFullName}
                                    id={event.id}>
                            <Fragment slot="panel-content">
                                <p>
                                    Il n'est plus possible de s'inscrire pour cet évènement.
                                </p>
                            </Fragment>
                        </PanelEvent>
                )
            })}
        </div>
    </main>
</LayoutPanels>
