---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import Section from '../components/Section.astro';

const title = '<h2>Qu\'est ce que l\'équicoaching ?</h2>'
const firstContent = '<p>L\’equicoaching se base sur un <strong>processus de coaching</strong>, c’est à dire d\’accompagnement au changement vers un objectif défini.</p><p> Le cheval est intégré à ce processus en tant que partenaire et médiateur.</p><p> Doté d’une grande intelligence émotionnelle et étant un excellent révélateur de nos comportements, le cheval va jouer le rôle de catalyseur lors des séances de coaching.</p>'
const secondTitle = '<h3>A qui s\'adresse l\'équicoaching ?</h3>'
const secondSubTitle = 'A tous ! Aucune compétence équestre n’est nécessaire puisque les exercices se font à pied.'
const secondContent = '<p>Vous voulez aller de l’avant ? Avoir plus confiance en vous ? Mieux gérer vos émotions ? Mieux communiquer ? Développer votre puissance personnelle ? Vous lancer dans un nouveau projet ? Ou tout simplement prendre un temps pour vous ? </p><p>Entreprises, vous souhaitez développer la cohésion dans votre équipe ? Mieux communiquer ? Développer votre leadership ? </p>'
const secondImage = {src:'/img/what-is-equicoaching.webp', alt:'A qui s\adresse l\'équicoaching'}
---

<Layout title="Equicoaching | Coaching Par Le Cheval | Grenoble et Chambéry">
	<main>
	    <Title title="IBF Equicoaching" returnLink="" />
        <Section title={title} content={firstContent} ytbLink="https://youtu.be/pgN6-mk2y4A" txtLeft="true"/>
        <section class="m-footer-separator"></section>
        <Section title={secondTitle} subTitle={secondSubTitle} content={secondContent} imgContent={secondImage}/>
	</main>
</Layout>
