---
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'
import Section from '../components/Section.astro'
import SeparatorBgValues from '../components/SeparatorBgValues.astro'
import Seo from '../class/Seo'
import ButtonAction from '../class/ButtonAction'
import Image from '../class/Image'
import SeparatorBg from "../components/SeparatorBg.astro";

const secondSubTitle: string = 'A tous ! Aucune compétence équestre n’est nécessaire puisque les exercices se font à pied.'
const image: Image = new Image('/img/what-is-equicoaching-550x550.webp', 'A qui s\adresse l\'équicoaching', 550, 550);
const imageThird: Image = new Image('/img/mouz-550x550.webp', 'Exhale', 550, 550);
const actionsFirst: ButtonAction[] = [
	new ButtonAction('/blog', 'En savoir plus'),
	new ButtonAction('/about', 'A propos d\'IBF'),
]
const actionsSecond: ButtonAction[] = [
    new ButtonAction('/pricing-equicoaching', 'Particuliers')
]
const actionsThird: ButtonAction[] = [new ButtonAction('/exhale-program', 'En savoir plus')]
const seoData: Seo = new Seo(
'IBF Equicoaching | Coaching et Formations | Horse Coaching',
'Séances équicoaching et coaching pour particuliers. Médiation du cheval, accompagnement et prévention du burnout. Equicoach formée via une formation en équicoaching.',
false);

const seoSchema = {
    "@context": "https://schema.org",
    "@graph": [
        {
            "@type": "Webpage",
            "@id": "https://ibf-equicoaching.com/",
            "url": "https://ibf-equicoaching.com/",
            "name": "IBF Equicoaching : Formations et équicoaching",
            isPartOf: {
                "@id": "https://ibf-equicoaching.com/#website"
            },
            about: {
                "@id": "https://ibf-equicoaching.com/#organization"
            },
            audience: {
                "@id": "https://ibf-equicoaching.com/#audience",
            },
            datePublished: "2019-01-01T10:30:52+00:00 UTC+00:00",
            "description": "IBF Equicoaching : Coaching et accompagnement au changement à l'aide de la médiation du cheval",
            "inLanguage": "fr-FR",
            author: {
                "@id": "https://ibf-equicoaching.com/#person"
            }
        },
        {
            "@type": "Website",
            "@id": "https://ibf-equicoaching.com/#website",
            "url": "https://ibf-equicoaching.com/",
            about: {
                "name": "IBF Equicoaching"
            },
            "description": "Formations et séances d'équicoaching et de coaching pour particuliers",
            audience: {
                "@id": "https://ibf-equicoaching.com/#audience",
            },
            datePublished: "2019-01-01T10:30:52+00:00 UTC+00:00",
            "alternateName": "Equicoaching et Coaching",
            isFamilyFriendly: true,
            publisher: {
                "@id": "https://ibf-equicoaching.com/#organization"
            },
            author: {
                "@id": "https://ibf-equicoaching.com/#person"
            },
        },
        {
            "@type": "Organization",
            "@id": "https://ibf-equicoaching.com/#organization",
            "name": "IBF Equicoaching",
            "slogan": "Vers vos objectifs, Ensemble",
            "logo": "https://www.ibf-equicoaching.com/img/logo-50x50.webp",
            "image": "https://www.ibf-equicoaching.com/img/logo-50x50.webp",
            "alternateName": "Equicoaching et Formations",
            location: {
                "@id": "https://ibf-equicoaching.com/#address"
            },
            founder: {
                "@id": "https://ibf-equicoaching.com/#person",
            },
            address: {
                "@id": "https://ibf-equicoaching.com/#address"
            },
            "email": "ibf.equicoaching@gmail.com",
            "telephone": "(+33)6 10 83 37 88",
            "sameAs": [
                "https://www.linkedin.com/company/ibf-equicoaching/",
                "https://www.instagram.com/ibf_equicoaching/",
                "https://www.facebook.com/ibfequicoaching",
                "https://youtube.com/@IBFEquicoaching"
            ],
            hasOfferCatalog: {
                "@id": "https://ibf-equicoaching.com/#offerCatalog",
            },
        },
        {
            "@type": "OfferCatalog",
            "@id": "https://ibf-equicoaching.com/#offerCatalog",
            "name": "Prestations Equicoaching",
            "itemListElement": [
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Séance Individuelle sur des thématiques de coaching",
                    "seller": {
                        "@id": "https://ibf-equicoaching.com/#organization",
                    },
                    "name": "Séance Individuelle Coaching",
                    "acceptedPaymentMethod": [
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price": 120,
                    "priceCurrency": "EUR",
                },
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Séance Individuelle sur des thématiques Equicoaching",
                    "seller": {
                        "@id": "https://ibf-equicoaching.com/#organization",
                    },
                    "name": "Séance Individuelle Equicoaching",
                    "acceptedPaymentMethod": [
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price": 120,
                    "priceCurrency": "EUR",
                },
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Programme de suivi pour les personnes souffrant d'épuisement professionnel ou de burn out",
                    "seller": {
                        "@id": "https://ibf-equicoaching.com/#organization",
                    },
                    "name": "Programme Exhale",
                    "acceptedPaymentMethod": [
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price": 1200,
                    "priceCurrency": "EUR",
                }
            ]
        },
        {
            "@type": "PostalAddress",
            "@id": "https://ibf-equicoaching.com/#address",
            "addressCountry": "FR",
            "addressRegion": "Rhône-Alpes",
            "postalCode": "38570",
            "addressLocality": "Theys",
            "streetAddress": "358 route d'Hurtieres"
        },
        {
            "@type": "Audience",
            "@id": "https://ibf-equicoaching.com/#audience",
            "audienceType": "Entreprises et particuliers",
        },
        {
            "@type": "Person",
            "@id": "https://ibf-equicoaching.com/#person",
            "givenName": "Camille",
            "familyName": "Marzec"
        }
    ]
}
---

<Layout title="Equicoaching | Coaching Par Le Cheval | Grenoble et Chambéry" seoData={seoData} seoSchema={seoSchema}>
    <main>
        <Title title="Coaching et Equicoaching"/>
        <Section displayTextLeft="true" ytbLink="https://youtu.be/pgN6-mk2y4A" actions={actionsFirst}>
            <h2 slot="section-title">Qu'est ce que l'équicoaching ?</h2>
            <Fragment slot="section-content">
                <p>
                	L’equicoaching se base sur un <strong>processus de coaching</strong>, c’est à dire d’accompagnement
                    	au changement vers un objectif défini.
                </p>
                <p> 
                	Le cheval est intégré à ce processus en tant que partenaire et médiateur.
                </p>
                <p> 
                	Doté d’une grande intelligence émotionnelle et étant un excellent révélateur de nos comportements,
                    	le cheval va jouer le rôle de catalyseur lors des séances de coaching. 
                    	Mirroir de nos émotions et de nos comportements, le cheval sert d'accompagnant dans le processus de prise de conscience et va faire travailler le coaché sur sa congruence.
                </p>
                <p>
                	L'équicoaching ou <strong>coaching équin</strong> prend ses racines dans <strong>l'éthologie équine</strong>. 
                	Cet ensemble de savoirs découle de l'observation des chevaux et de leurs comportements à l'état sauvage et domestique.<br/>Effectués à partir des années 1970 par des "chuchoteurs" 
                	aux Etats Unis en réaction aux anciennes techniques de dressage violentes, 
                	ces apprentissages visant à acquerir la confiance des animaux vont déboucher indirectement sur <strong>une meilleure connaissance de l'humain et de sa manière de se présenter à l'autre (communication non verbale)</strong>.
                </p>
                <p>
                Dans les années 1990, la rencontre de dirigeants d'entreprises et de chuchoteurs donne lieu a des expérimentations comme au sein du groupe Wolkswagen. 
                	Importée en Europe dans les années 2010, ces techniques sont depuis utilisés par de nombreuses entreprises pour former leurs cadres à des eujeux de l'entreprise et de la gestion d'équipes.
                </p>
                <p>
                	<strong>Depuis 2021, cette compétence est reconnue par <a href="https://www.francecompetences.fr/recherche/rs/6638/" target="_blank">l'état</a>. </strong>
                </p>
            </Fragment>
        </Section>
        <SeparatorBgValues/>
        <Section subTitle={secondSubTitle} imgContent={image} actions={actionsSecond}>
            <h3 slot="section-title">A qui s'adresse l'équicoaching ?</h3>
            <Fragment slot="section-content">
                <p>
                	Vous voulez aller de l’avant ? Avoir plus confiance en vous ? Mieux gérer vos émotions ? Mieux
                    communiquer ? Développer votre puissance personnelle ?
                    Vous lancer dans un nouveau projet ? Ou tout simplement prendre un temps pour vous ? 
                </p>
                <p>
                	L'équicoaching est un outil puissant qui vous aidera à mieux vous connaitre.
                </p>
                <p>
                	Entreprises, vous souhaitez développer la cohésion dans votre équipe ? Mieux communiquer ? Développer
                    votre leadership ? 
                </p>
                <p>
                	EDF, AXA, Kenzo, L’Oréal... de nombreux groupes Français et internationaux utilisent déjà l'équicoaching pour former leurs collaborateurs. Tentez l'expérience ! 
                </p>
            </Fragment>
        </Section>
        <SeparatorBg></SeparatorBg>
        <Section displayTextLeft="true" imgContent={imageThird} actions={actionsThird}>
            <h3 slot="section-title">Le programme Exhale</h3>
            <Fragment slot="section-content">
                <p>
                    Vous faites partie de ces personnes qui sont actives ? Vous n'arrivez pas ou vous avez du mal à dire non ou à déléguer ? Votre coté perfectionniste vous pousse sans cesse à faire plus ?
                    Prendre du temps pour vous est compliqué ?
                </p>
                <p>
                    <strong>Et si vous ne vous écoutiez pas assez ?</strong>
                </p>
                <p>
                	Vous etes souvent fatigués sans raison apparente, parfois dès le matin. La motivation vous manque et l'anxiété vous gagne.
                    Vous avez la boule au ventre en allant au travail...
                </p>
                <p>
                    Maux de tête, migraines, douleurs.... Ces symptômes vous parlent ? <strong>Ce sont les signes d'un épuisement professionnel ou burn-out.</strong>
                </p>
                <p>
                    Forte de mon expérience et aidée d'outils en coaching et équicoaching, je vous propose de bénéficier d'un programme unique en France : <strong>le programme Exhale</strong>
                </p>
                <p>
                    Exhale, c'est un programme d'accompagnement sur 4 à 6 mois alliant coaching et équicoaching, à destination des personnes en burn-out, en surmenage ou en prévention des risques d'épuisement professionnel.
                </p>
            </Fragment>
        </Section>
    </main>
</Layout>
