---
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'
import Section from '../components/Section.astro'
import SeparatorBgValues from '../components/SeparatorBgValues.astro'
import Seo from '../class/Seo'
import ButtonAction from '../class/ButtonAction'
import Image from '../class/Image'
import SeparatorBg from "../components/SeparatorBg.astro";

const secondSubTitle = 'A tous ! Aucune compétence équestre n’est nécessaire puisque les exercices se font à pied.'
const image: Image = new Image('/img/what-is-equicoaching-550x550.webp', 'A qui s\adresse l\'équicoaching')
const imageFormation: Image = new Image('/img/mouz-550x550.webp', 'En savoir plus sur nos formations')
const actionsFirst: ButtonAction[] = [
	new ButtonAction('/blog', 'En savoir plus'),
	new ButtonAction('/about', 'A propos d\'IBF'),
]
const actionsSecond: ButtonAction[] = [
    new ButtonAction('/company', 'Entreprises'),
    new ButtonAction('/pricing-equicoaching', 'Particuliers')
]
const actionsThird: ButtonAction[] = [new ButtonAction('/pricing-training', 'Renseignements et programmes de formations')]
const seoData: Seo = new Seo(
'IBF Equicoaching | Coaching et Formations', 
'Formations et séances équicoaching pour entreprises et particuliers', 
false)

const seoSchema = {
    "@context": "https://schema.org",
    "@graph": [
        {
            "@type": "Webpage",
            "@id": "https://ibf-equicoaching.com/",
            "url": "https://ibf-equicoaching.com/",
            "name": "IBF Equicoaching : Formations et équicoaching",
            isPartOf: {
                "@id": "https://ibf-equicoaching.com/#website"
            },
            about: {
                "@id": "https://ibf-equicoaching.com/#organization"
            },
            audience: {
                "@id": "https://ibf-equicoaching.com/#audience",
            },
            datePublished: "2019-01-01T10:30:52+00:00 UTC+00:00",
            "description": "IBF Equicoaching : Formations pour vos équipes,  vos managers ou pour particuliers",
            "inLanguage": "fr-FR",
            author: {
                "@id": "https://ibf-equicoaching.com/#person"
            }
        },
        {
            "@type": "Website",
            "@id": "https://ibf-equicoaching.com/#website",
            "url": "https://ibf-equicoaching.com/",
            about: {
                "name": "IBF Equicoaching"
            },
            "description": "Formations et séances d'équicoaching pour entreprises et particuliers",
            audience: {
                "@id": "https://ibf-equicoaching.com/#audience",
            },
            datePublished: "2019-01-01T10:30:52+00:00 UTC+00:00",
            "alternateName": "Equicoaching et Formations",
            isFamilyFriendly: true,
            publisher: {
                "@id": "https://ibf-equicoaching.com/#organization"
            },
            author: {
                "@id": "https://ibf-equicoaching.com/#person"
            },
        },
        {
            "@type": "Organization",
            "@id": "https://ibf-equicoaching.com/#organization",
            "name": "IBF Equicoaching",
            "slogan": "Vers vos objectifs, Ensemble",
            "logo": "https://www.ibf-equicoaching.com/img/logo-50x50.webp",
            "image": "https://www.ibf-equicoaching.com/img/logo-50x50.webp",
            "alternateName": "Equicoaching et Formations",
            location: {
                "@id": "https://ibf-equicoaching.com/#address"
            },
            founder: {
                "@id": "https://ibf-equicoaching.com/#person",
            },
            address: {
                "@id": "https://ibf-equicoaching.com/#address"
            },
            "email": "ibf.equicoaching@gmail.com",
            "telephone": "(+33)6 10 83 37 88",
            "sameAs": [
                "https://www.linkedin.com/company/ibf-equicoaching/",
                "https://www.instagram.com/ibf_equicoaching/",
                "https://www.facebook.com/ibfequicoaching",
                "https://youtube.com/@IBFEquicoaching"
            ],
            hasOfferCatalog: {
                "@id": "https://ibf-equicoaching.com/#offerCatalog",
            },
        },
        {
            "@type": "OfferCatalog",
            "@id": "https://ibf-equicoaching.com/#offerCatalog",
            "name": "Prestations et Formations",
            "description": "Formations pour managers, équipes ou en individuel. Prestation et séances d'équicoaching sur mesure.",
            "itemListElement": [
                {
                    "@id": "https://ibf-equicoaching.com/#offerCatalogEquicoaching",
                },
                {
                    "@id": "https://ibf-equicoaching.com/#offerCatalogEquitation",
                },
                {
                    "@id": "https://ibf-equicoaching.com/#offerFormation",
                }
            ]
        },
        {
            "@type": "OfferCatalog",
            "@id": "https://ibf-equicoaching.com/#offerFormation",
            "name": "Formations",
            "description": "Formations pour managers, équipes ou en individuel",
            "itemListElement": [
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Posture Managériale et Leadership",
                    "seller": {
                        "@id": "https://ibf-equicoaching.com/#organization",
                    },
                    "name": "Posture Managériale et Leadership",
                    "acceptedPaymentMethod": [
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                    ],
                    "price": 800,
                    "priceCurrency": "EUR",
                },
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Cohésion et Communication",
                    "seller": {
                        "@id": "https://ibf-equicoaching.com/#organization",
                    },
                    "name": "Cohésion et Communication",
                    "acceptedPaymentMethod": [
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                    ],
                    "price": 800,
                    "priceCurrency": "EUR",
                },
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Developper ses Soft Skills",
                    "seller": {
                        "@id": "https://ibf-equicoaching.com/#organization",
                    },
                    "name": "Developper ses Soft Skills",
                    "acceptedPaymentMethod": [
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                    ],
                    "price": 800,
                    "priceCurrency": "EUR",
                }
            ]
        },
        {
            "@type": "OfferCatalog",
            "@id": "https://ibf-equicoaching.com/#offerCatalogEquitation",
            "name": "Prestations Equitation",
            "itemListElement": [
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Cours Collectif Equitation, 4 personnes max, en centre équestre uniquement",
                    "seller": {
                        "@id": "https://ibf-equicoaching.com/#organization",
                    },
                    "name": "Cours Collectif Equitation",
                    "acceptedPaymentMethod": [
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price": 35,
                    "priceCurrency": "EUR",
                },
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Cours Particulier Equitation, en centre équestre uniquement",
                    "seller": {
                        "@id": "https://ibf-equicoaching.com/#organization",
                    },
                    "name": "Cours Particulier Equitation",
                    "acceptedPaymentMethod": [
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price": 50,
                    "priceCurrency": "EUR",
                }
            ]
        },
        {
            "@type": "OfferCatalog",
            "@id": "https://ibf-equicoaching.com/#offerCatalogEquicoaching",
            "name": "Prestations Equicoaching",
            "itemListElement": [
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Atelier découverte Equicoaching, 6 personnes max",
                    "seller": {
                        "@id": "https://ibf-equicoaching.com/#organization",
                    },
                    "name": "Atelier découverte Equicoaching",
                    "acceptedPaymentMethod": [
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price": 55,
                    "priceCurrency": "EUR",
                },
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Séance Individuelle Equicoaching",
                    "seller": {
                        "@id": "https://ibf-equicoaching.com/#organization",
                    },
                    "name": "Séance Individuelle Equicoaching",
                    "acceptedPaymentMethod": [
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price": 80,
                    "priceCurrency": "EUR",
                },
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Forfait 5 séances Equicoaching",
                    "seller": {
                        "@id": "https://ibf-equicoaching.com/#organization",
                    },
                    "name": "Forfait 5 séances Equicoaching",
                    "acceptedPaymentMethod": [
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price": 350,
                    "priceCurrency": "EUR",
                }
            ]
        },
        {
            "@type": "PostalAddress",
            "@id": "https://ibf-equicoaching.com/#address",
            "addressCountry": "FR",
            "addressRegion": "Rhône-Alpes",
            "postalCode": "38570",
            "addressLocality": "Theys",
            "streetAddress": "358 route d'Hurtieres"
        },
        {
            "@type": "Audience",
            "@id": "https://ibf-equicoaching.com/#audience",
            "audienceType": "Entreprises et particuliers",
        },
        {
            "@type": "Person",
            "@id": "https://ibf-equicoaching.com/#person",
            "givenName": "Camille",
            "familyName": "Marzec"
        }
    ]
}
---

<Layout title="Equicoaching | Coaching Par Le Cheval | Grenoble et Chambéry" seoData={seoData} seoSchema={seoSchema}>
    <main>
        <Title title="Equicoaching et Formations"/>
        <Section displayTextLeft="true" ytbLink="https://youtu.be/pgN6-mk2y4A" actions={actionsFirst}>
            <h2 slot="section-title">Qu'est ce que l'équicoaching ?</h2>
            <Fragment slot="section-content">
                <p>
                	L’equicoaching se base sur un <strong>processus de coaching</strong>, c’est à dire d’accompagnement
                    	au changement vers un objectif défini.
                </p>
                <p> 
                	Le cheval est intégré à ce processus en tant que partenaire et médiateur.
                </p>
                <p> 
                	Doté d’une grande intelligence émotionnelle et étant un excellent révélateur de nos comportements,
                    	le cheval va jouer le rôle de catalyseur lors des séances de coaching. 
                    	Mirroir de nos émotions et de nos comportements, le cheval sert d'accompagnant dans le processus de prise de conscience et va faire travailler le coaché sur sa congruence.
                </p>
                <p>
                	L'équicoaching ou <strong>coaching équin</strong> prend ses racines dans <strong>l'éthologie équine</strong>. 
                	Cet ensemble de savoirs découle de l'observation des chevaux et de leurs comportements à l'état sauvage et domestiquee.<br/>Effectués à partir des années 1970 par des "chuchoteurs" 
                	aux Etats Unis en réaction aux anciennes techniques de dressage violentes, 
                	ces apprentissages visant à acquerir la confiance des animaux vont déboucher sur <strong>une meilleure connaissance de l'humain et de sa manière de se présenter à l'autre (communication non verbale)</strong>.
                </p>
                <p>
                Dans les années 1990, la rencontre de dirigeants d'entreprises et de chuchoteurs donne lieu a des expérimentations comme au sein du groupe Wolkswagen. 
                	Importée en Europe dans les années 2010, ces techniques sont depuis utilisés par de nombreuses entreprises pour former leurs cadres à des eujeux de l'entreprise et de la gestion d'équipes.
                </p>
                <p>
                	<strong>Depuis 2021, cette compétence est reconnue par <a href="https://www.francecompetences.fr/recherche/rs/6638/" target="_blank">l'état</a>. </strong>
                </p>
            </Fragment>
        </Section>
        <SeparatorBgValues/>
        <Section subTitle={secondSubTitle} imgContent={image} actions={actionsSecond}>
            <h3 slot="section-title">A qui s'adresse l'équicoaching ?</h3>
            <Fragment slot="section-content">
                <p>
                	Vous voulez aller de l’avant ? Avoir plus confiance en vous ? Mieux gérer vos émotions ? Mieux
                    communiquer ? Développer votre puissance personnelle ?
                    Vous lancer dans un nouveau projet ? Ou tout simplement prendre un temps pour vous ? 
                </p>
                <p>
                	L'équicoaching est un outil puissant qui vous aidera à mieux vous connaitre.
                </p>
                <p>
                	Entreprises, vous souhaitez développer la cohésion dans votre équipe ? Mieux communiquer ? Développer
                    votre leadership ? 
                </p>
                <p>
                	EDF, AXA, Kenzo, L’Oréal... de nombreux groupes Français et internationaux utilisent déjà l'équicoaching pour former leurs collaborateurs. Tentez l'expérience ! 
                </p>
            </Fragment>
        </Section>
        <SeparatorBg></SeparatorBg>
        <Section displayTextLeft="true" imgContent={imageFormation} actions={actionsThird}>
            <h3 slot="section-title">Nos formations</h3>
            <Fragment slot="section-content">
                <p>
                    Combinant techniques de coaching et l'utilisation des chevaux, nos formations offrent des benefices inédits,
                    que ce soit en termes d’apprentissage et de croissance personnelle ou
                     d'épanouissement professionnel.
                </p>
                <p>
                    Nos trois programmes de formations vous permettrons d'augmenter le bien être et la puissance de votre équipe ou de vos collaborateurs : 
                </p>
                <p>
                	<strong>Posture Managériale et Leadership :</strong> 
                	Apprenez à manager une équipe avec assertivité, prenez conscience de votre leadership sur cette journée de formation pour mieux vous adapter aux situations et profils rencontrés dans votre quotidien.
                	Découvrez ou redécouvrez comment fixer des objectifs et accompagner vos équipes vers leur réalisation.
                </p>
                <p>
                	<strong>Cohésion et Communication :</strong> 
                	Prenez ou affirmez votre place ou les places de vos collaborateurs au sein de votre équipe. 
                	Cette journée de formation est centrée sur le mode de fonctionnement de votre équipe et de ses membres. 
                	Augmentez votre connaissance du groupe et adaptez votre comportement et vos décisions au collectif.
                	Apprenez
                </p>
                <p>
                	<strong>Developper ses Soft Skills :</strong> 
                	Appliquée à un ou plusieurs collaborateurs ou a des particuliers, 
                	cette formation vise à mieux comprendre et prendre en compte ses besoins et ses émotions pour augmenter leur confiance personnelle et mieux prendre des décisions au quotidien. 
                </p>
            </Fragment>
        </Section>
    </main>
</Layout>
