---
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'
import PriceTile from '../components/PriceTile.astro'
import '../styles/m-main.scss'
import Seo from '../class/Seo'
import ReturnAction from '../class/ReturnAction'
export function getStaticPaths() {
    return [
        {
            params: {name: 'training'},
            props: {
                title: 'Formations',
                subTitle: 'Réservez votre solution clé en main pour votre entreprise, vos équipes ou en individuel !',
                descriptions: [
                    {
                        number: 1,
                        title: 'Posture Managériale et Leadership',
                        points: ['Managers et responsables', 'Seniors, Juniors ou en formation', 'Equipes ou inter entreprises'],
                        actions: [{
                            link: '/contact',
                            title: 'Reservez'
                        }]
                    },
                    {
                        number: 2,
                        title: 'Cohésion et Communication',
                        points: ['Equipes', 'Apprenez à communiquer autrement', 'Developpez la cohésion de vos équipes'],
                        actions: [{
                            link: '/contact',
                            title: 'Reservez'
                        }]
                    },
                    {
                        number: 3,
                        title: 'Developper ses Soft Skills',
                        points: ['Equipes ou en individuel', 'Intelligence émotionnelle', 'Gestion des émotions'],
                        actions: [{
                            link: '/contact',
                            title: 'Reservez'
                        }]
                    },
                ],
            }
        },
        {
            params: {name: 'team-building'},
            props: {
                title: 'Team Building',
                subTitle: 'Réservez votre team building et découvrez la puissance de l\'équicoaching pour votre équipe.',
                descriptions: [
                    {
                        number: 1,
                        title: 'Team Building Equicoaching',
                        points: ['Solution sur mesure', '1/2 journée, journée, week end', 'Programmes à la carte'],
                        price: 'Devis gratuit',
                        actions: [{link: '/contact', title: 'Contactez moi'}]
                    },
                ],
            }
        },
        {
            params: {name: 'equicoaching'},
            props: {
                title: 'Tarifs Equicoaching',
                subTitle: 'Trouvez la solution à vos attentes',
                descriptions: [
                    {
                        number: 1,
                        title: 'Atelier découverte Equicoaching',
                        points: ['Demi journée', 'De 4 à 6 personnes', 'Suivant organisation'],
                        price: '56 €/pers',
                        actions: [{link: '/events', title: 'Inscrivez vous'}]
                    },
                    {
                        number: 2,
                        title: 'Séance Individuelle Equicoaching\n',
                        points: ['1h30m', 'Idéal découverte', 'Personnalisée'],
                        price: '80 €',
                        actions: [{link: '/contact', title: 'Contactez Moi'}]
                    },
                    {
                        number: 3,
                        title: 'Forfait 5 séances Equicoaching',
                        points: ['5 X 1h30m', 'Suivi personnalisé et complet', 'Première séance (définition objectif) par visioconférence'],
                        price: '350 €',
                        actions: [{link: '/contact', title: 'Contactez Moi'}]
                    }
                ],
            }
        },
        {
            params: {name: 'equitation'},
            props: {
                title: 'Tarifs Equitation',
                subTitle: 'Trouvez la solution à vos attentes',
                descriptions: [
                    {
                        number: 1,
                        title: 'Cours Collectif Equitation',
                        points: ['Gestion des Emotions', '4 personnes max', 'Objectif loisir ou compétition'],
                        price: '35 €/pers',
                        actions: [{link: '/contact', title: 'Contactez moi'}]
                    },
                    {
                        number: 2,
                        title: 'Cours Particulier Equitation',
                        points: ['Personnalisé', 'Remise en confiance', 'Gestion des émotions'],
                        price: '50 €',
                        actions: [{link: '/contact', title: 'Contactez moi'}]
                    },
                ],
            }
        },
    ];
}

const {name} = Astro.params;
const {title, subTitle, descriptions} = Astro.props;
const returnValues: ReturnAction = new ReturnAction(`/pricing-${name}`, title)
const titleStr = `Equicoaching | ${title}`

let seoDescription = 'Découvrez nos tarifs'
if(descriptions) {
    descriptions.forEach((desc : object) => seoDescription += `| ${desc.title} `)
}

const seoData : Seo = new Seo(titleStr, seoDescription, false);

const seoSchema = {
    "@context": "https://schema.org",
    "@graph": [
        {
            "@type": "Webpage",
            "@id":`https://ibf-equicoaching.com/pricing-${name}`,
            "url":`https://ibf-equicoaching.com/pricing-${name}`,
            "name": titleStr,
            breadcrumb: {
                "@id":"https://ibf-equicoaching.com/#breadcrumblist"
            },
            isPartOf: {
                "@id":"https://ibf-equicoaching.com/#website"
            },
            about: {
                "@id":"https://ibf-equicoaching.com/#offerCatalog"
            },
            audience : {
                "@id":"https://ibf-equicoaching.com/#audience",
            },
            datePublished : "2019-01-01T10:30:52+00:00 UTC+00:00",
            "description":"IBF Equicoaching : Prestations",
            "inLanguage":"fr-FR",
            author : {
                "@id":"https://ibf-equicoaching.com/#person"
            }
        },
        {
            "@type": "Website",
            "@id":"https://ibf-equicoaching.com/#website",
            "url": "https://ibf-equicoaching.com/",
            about: {
                "name" : "IBF Equicoaching"
            },
            "description" : "Formations et séances d'équicoaching pour entreprises et particuliers",
            audience : {
                "@id":"https://ibf-equicoaching.com/#audience",
            },
            datePublished : "2019-01-01T10:30:52+00:00 UTC+00:00",
            "alternateName" : "Equicoaching et Formations",
            isFamilyFriendly: true,
            publisher:{
                "@id":"https://ibf-equicoaching.com/#organization"
            },
            author : {
                "@id":"https://ibf-equicoaching.com/#person"
            },
        },
        {
            "@type": "Organization",
            "@id":"https://ibf-equicoaching.com/#organization",
            "name": "IBF Equicoaching",
            "slogan" : "Vers vos objectifs, Ensemble",
            "logo" : "https://www.ibf-equicoaching.com/img/logo-50x50.webp",
            "image" : "https://www.ibf-equicoaching.com/img/logo-50x50.webp",
            "alternateName":"Equicoaching et Formations",
            location : {
                "@id":"https://ibf-equicoaching.com/#address"
            },
            founder : {
                "@id":"https://ibf-equicoaching.com/#person",
            },
            address : {
                "@id":"https://ibf-equicoaching.com/#address"
            },
            "email" : "ibf.equicoaching@gmail.com",
            "telephone" : "(+33)6 10 83 37 88",
            "sameAs":[
                "https://www.linkedin.com/company/ibf-equicoaching/",
                "https://www.instagram.com/ibf_equicoaching/",
                "https://www.facebook.com/ibfequicoaching",
                "https://youtube.com/@IBFEquicoaching"
            ],
            hasOfferCatalog: {
                "@id":"https://ibf-equicoaching.com/#offerCatalog",
            },
        },
        {
            "@type": "OfferCatalog",
            "@id":"https://ibf-equicoaching.com/#offerCatalog",
            "name": "Prestations et Formations",
            "description" : "Formations pour managers, équipes ou en individuel. Prestation et séances d'équicoaching sur mesure.",
            "itemListElement": [
                {
                    "@id":"https://ibf-equicoaching.com/#offerCatalogEquicoaching",
                },
                {
                    "@id":"https://ibf-equicoaching.com/#offerCatalogEquitation",
                },
                {
                    "@id":"https://ibf-equicoaching.com/#offerFormation",
                }
            ]
        },
        {
            "@type": "OfferCatalog",
            "@id":"https://ibf-equicoaching.com/#offerFormation",
            "name": "Formations",
            "description" : "Formations pour managers, équipes ou en individuel",
            "itemListElement": [
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Posture Managériale et Leadership",
                    "seller" : {
                        "@id":"https://ibf-equicoaching.com/#organization",
                    },
                    "name":"Posture Managériale et Leadership",
                    "acceptedPaymentMethod" : [
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                    ],
                    "price" : 800,
                    "priceCurrency": "EUR",
                },
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Cohésion et Communication",
                    "seller" : {
                        "@id":"https://ibf-equicoaching.com/#organization",
                    },
                    "name":"Cohésion et Communication",
                    "acceptedPaymentMethod" : [
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                    ],
                    "price" : 800,
                    "priceCurrency": "EUR",
                },
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Developper ses Soft Skills",
                    "seller" : {
                        "@id":"https://ibf-equicoaching.com/#organization",
                    },
                    "name":"Developper ses Soft Skills",
                    "acceptedPaymentMethod" : [
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                    ],
                    "price" : 800,
                    "priceCurrency": "EUR",
                }
            ]
        },
        {
            "@type": "OfferCatalog",
            "@id":"https://ibf-equicoaching.com/#offerCatalogEquitation",
            "name": "Prestations Equitation",
            "itemListElement": [
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Cours Collectif Equitation, 4 personnes max, en centre équestre uniquement",
                    "seller" : {
                        "@id":"https://ibf-equicoaching.com/#organization",
                    },
                    "name":"Cours Collectif Equitation",
                    "acceptedPaymentMethod" : [
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price" : 35,
                    "priceCurrency": "EUR",
                },
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Cours Particulier Equitation, en centre équestre uniquement",
                    "seller" : {
                        "@id":"https://ibf-equicoaching.com/#organization",
                    },
                    "name":"Cours Particulier Equitation",
                    "acceptedPaymentMethod" : [
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price" : 50,
                    "priceCurrency": "EUR",
                }
            ]
        },
        {
            "@type": "OfferCatalog",
            "@id":"https://ibf-equicoaching.com/#offerCatalogEquicoaching",
            "name": "Prestations Equicoaching",
            "itemListElement": [
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Atelier découverte Equicoaching, 6 personnes max",
                    "seller" : {
                        "@id":"https://ibf-equicoaching.com/#organization",
                    },
                    "name":"Atelier découverte Equicoaching",
                    "acceptedPaymentMethod" : [
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price" : 55,
                    "priceCurrency": "EUR",
                },
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Séance Individuelle Equicoaching",
                    "seller" : {
                        "@id":"https://ibf-equicoaching.com/#organization",
                    },
                    "name":"Séance Individuelle Equicoaching",
                    "acceptedPaymentMethod" : [
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price" : 80,
                    "priceCurrency": "EUR",
                },
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Forfait 5 séances Equicoaching",
                    "seller" : {
                        "@id":"https://ibf-equicoaching.com/#organization",
                    },
                    "name":"Forfait 5 séances Equicoaching",
                    "acceptedPaymentMethod" : [
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type" : "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price" : 350,
                    "priceCurrency": "EUR",
                }
            ]
        },
        {
            "@type": "PostalAddress",
            "@id":"https://ibf-equicoaching.com/#address",
            "addressCountry" : "FR",
            "addressRegion" : "Rhône-Alpes",
            "postalCode" : "38570",
            "addressLocality" : "Theys",
            "streetAddress" : "358 route d'Hurtieres"
        },
        {
            "@type": "Audience",
            "@id":"https://ibf-equicoaching.com/#audience",
            "audienceType" : "Entreprises et particuliers",
        },
        {
            "@type": "Person",
            "@id":"https://ibf-equicoaching.com/#person",
            "givenName" : "Camille",
            "familyName" : "Marzec"
        },
        {
            "@type": "BreadcrumbList",
            "@id":"https://ibf-equicoaching.com/#breadcrumblist",
            "name": "Fil d'Ariane",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "item":
                        {
                            "@id": "https://ibf-equicoaching.com",
                            "name": "Home"
                        }
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "item":
                        {
                            "@id": `https://ibf-equicoaching.com/pricing-${name}`,
                            "name": titleStr
                        }
                },
            ],
        }
    ]
}
---
<Layout title={titleStr} seoData={seoData} seoSchema={seoSchema}>
    <main>
        <Title title={title} returnValues={returnValues}/>
        <div class="m-main">
            <h2 class="m-main-title">{subTitle}</h2>
            <span class="m-main-sub-title">Quels que soit vos objectifs et vos besoins.</span>
            <div class="m-main-wrapper">
                {descriptions && descriptions.map(description => (
                        <PriceTile data={description}/>))}
            </div>
            {title === 'Formations' && (
                <div class="m-main-footer">
                    <div>
                        <p><strong>...... % de taux de réussite</strong></p>
                        <p><strong>...... % de clients satisfaits</strong></p>
                        <p><strong>...... % de nos clients recommandent nos formations</strong></p>
                    </div>
                    <p>
                        Pour .... stagiaires sur une période de .....
                        <small>(Patience ! ces chiffres arrivent bientôt)</small>
                    </p>
                </div>
            )}
        </div>
    </main>
</Layout>
