---
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'
import Tile from '../components/Tile.astro'
import '../styles/m-main.scss'
import Seo from '../class/Seo'
import ReturnAction from '../class/ReturnAction'
import {serviceList} from "../content/data/ServiceList";
import PriceTile from "../components/PriceTile.astro";

const returnValues: ReturnAction = new ReturnAction('/service', 'Prestations')

const seoData: Seo = new Seo('IBF Equicoaching | Services et prestations', 'Découvrez nos différents services et leurs tarifs, pour particuliers.', false)
const seoSchema = {
    "@context": "https://schema.org",
    "@graph": [
        {
            "@type": "Webpage",
            "@id": "https://ibf-equicoaching.com/service",
            "url": "https://ibf-equicoaching.com/service",
            "name": "IBF Equicoaching : Prestations",
            breadcrumb: {
                "@id": "https://ibf-equicoaching.com/#breadcrumblist"
            },
            isPartOf: {
                "@id": "https://ibf-equicoaching.com/#website"
            },
            about: {
                "@id": "https://ibf-equicoaching.com/#offerCatalog"
            },
            audience: {
                "@id": "https://ibf-equicoaching.com/#audience",
            },
            datePublished: "2019-01-01T10:30:52+00:00 UTC+00:00",
            "description": "IBF Equicoaching : Nos prestations",
            "inLanguage": "fr-FR",
            author: {
                "@id": "https://ibf-equicoaching.com/#person"
            }
        },
        {
            "@type": "Website",
            "@id": "https://ibf-equicoaching.com/#website",
            "url": "https://ibf-equicoaching.com/",
            about: {
                "name": "IBF Equicoaching"
            },
            "description": "Formations et séances d'équicoaching pour entreprises et particuliers",
            audience: {
                "@id": "https://ibf-equicoaching.com/#audience",
            },
            datePublished: "2019-01-01T10:30:52+00:00 UTC+00:00",
            "alternateName": "Equicoaching et Formations",
            isFamilyFriendly: true,
            publisher: {
                "@id": "https://ibf-equicoaching.com/#organization"
            },
            author: {
                "@id": "https://ibf-equicoaching.com/#person"
            },
        },
        {
            "@type": "Organization",
            "@id": "https://ibf-equicoaching.com/#organization",
            "name": "IBF Equicoaching",
            "slogan": "Vers vos objectifs, Ensemble",
            "logo": "https://www.ibf-equicoaching.com/img/logo-50x50.webp",
            "image": "https://www.ibf-equicoaching.com/img/logo-50x50.webp",
            "alternateName": "Equicoaching et Formations",
            location: {
                "@id": "https://ibf-equicoaching.com/#address"
            },
            founder: {
                "@id": "https://ibf-equicoaching.com/#person",
            },
            address: {
                "@id": "https://ibf-equicoaching.com/#address"
            },
            "email": "ibf.equicoaching@gmail.com",
            "telephone": "(+33)6 10 83 37 88",
            "sameAs": [
                "https://www.linkedin.com/company/ibf-equicoaching/",
                "https://www.instagram.com/ibf_equicoaching/",
                "https://www.facebook.com/ibfequicoaching",
                "https://youtube.com/@IBFEquicoaching"
            ],
            hasOfferCatalog: {
                "@id": "https://ibf-equicoaching.com/#offerCatalog",
            },
        },
        {
            "@type": "OfferCatalog",
            "@id": "https://ibf-equicoaching.com/#offerCatalog",
            "name": "Prestations",
            "description": "Séances de coaching et d'équicoaching, suivi sur mesure pour les personnes souffrant de burn-out ou d'épuisement professionnel",
            "itemListElement": [
                {
                    "@id": "https://ibf-equicoaching.com/#offerCatalog",
                },
            ]
        },
        {
            "@type": "OfferCatalog",
            "@id": "https://ibf-equicoaching.com/#offerCatalog",
            "name": "Prestations Equicoaching",
            "itemListElement": [
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Séance Individuelle sur des thématiques de coaching",
                    "seller": {
                        "@id": "https://ibf-equicoaching.com/#organization",
                    },
                    "name": "Séance Individuelle Coaching",
                    "acceptedPaymentMethod": [
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price": 120,
                    "priceCurrency": "EUR",
                },
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Séance Individuelle sur des thématiques Equicoaching",
                    "seller": {
                        "@id": "https://ibf-equicoaching.com/#organization",
                    },
                    "name": "Séance Individuelle Equicoaching",
                    "acceptedPaymentMethod": [
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price": 120,
                    "priceCurrency": "EUR",
                },
                {
                    "@type": "Offer",
                    "availability": "https://schema.org/InStock",
                    "description": "Programme de suivi pour les personnes souffrant d'épuisement professionnel ou de burn out",
                    "seller": {
                        "@id": "https://ibf-equicoaching.com/#organization",
                    },
                    "name": "Programme Exhale",
                    "acceptedPaymentMethod": [
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#ByBankTransferInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#CheckInAdvance"
                        },
                        {
                            "@type": "PaymentMethod",
                            "@id": "http://purl.org/goodrelations/v1#Cash"
                        }
                    ],
                    "price": 1200,
                    "priceCurrency": "EUR",
                }
            ]
        },
        {
            "@type": "PostalAddress",
            "@id": "https://ibf-equicoaching.com/#address",
            "addressCountry": "FR",
            "addressRegion": "Rhône-Alpes",
            "postalCode": "38570",
            "addressLocality": "Theys",
            "streetAddress": "358 route d'Hurtieres"
        },
        {
            "@type": "Audience",
            "@id": "https://ibf-equicoaching.com/#audience",
            "audienceType": "Entreprises et particuliers",
        },
        {
            "@type": "Person",
            "@id": "https://ibf-equicoaching.com/#person",
            "givenName": "Camille",
            "familyName": "Marzec"
        },
        {
            "@type": "BreadcrumbList",
            "@id": "https://ibf-equicoaching.com/#breadcrumblist",
            "name": "Fil d'Ariane",
            "itemListElement": [
                {
                    "@type": "ListItem",
                    "position": 1,
                    "item":
                        {
                            "@id": "https://ibf-equicoaching.com",
                            "name": "Home"
                        }
                },
                {
                    "@type": "ListItem",
                    "position": 2,
                    "item":
                        {
                            "@id": "https://ibf-equicoaching.com/service",
                            "name": "Services"
                        }
                },
            ],
        }
    ]
}

const descriptions: [] = [
    {
        number: 1,
        title: 'Séance Individuelle Equicoaching\n',
        points: ['1h30m', 'Idéal pour la découverte de l\'équicoaching', 'Prenez conscience de la puissance de l\'accompagnement par le cheval'],
        price: '120 €',
        actions: [{link: '/contact', title: 'Réservez'}]
    },
    {
        number: 2,
        title: 'Séance Individuelle Coaching\n',
        points: ['1h30m', 'Thématiques liées au coaching et à l\'accompagnement personnel', 'Développez, en conscience, vos ressources personnelles'],
        price: '120 €',
        actions: [{link: '/contact', title: 'Réservez'}]
    },
    {
        number: 3,
        title: 'Programme Exhale',
        points: ['4 à 6 mois', 'Accompagnement complet en coaching et équicoaching', 'Destinée aux personnes souffrant de burn-out, ou en prévention de l\'épuisement professionnel'],
        price: '1200 €',
        actions: [{link: '/contact', title: 'En savoir plus'}]
    }
]
---

<Layout title="IBF Equicoaching | Prestations" seoData={seoData} seoSchema={seoSchema}>
    <main>
        <Title title="Prestations" returnValues={returnValues}/>
        <div class="m-main">
            <h2 class="m-main-title">Ma mission</h2>
            <h3 class="m-main-title">Je pars du principe que nous avons tous en nous un trésor insoupçonné ; Ma mission
                au travers d’IBF Equicoaching est d’aider les gens à trouver le leur.</h3>
            <div class="m-main-wrapper">
                {descriptions && descriptions.map(description => (
                        <PriceTile data={description}/>))}
            </div>
        </div>
    </main>
</Layout>
