---
import {Image} from 'astro:assets';//Do not Remove that !
import Menu from '../components/Menu.astro';
import { Schema } from "astro-seo-schema"
import Icons from '../components/Icons.astro';
import Icon from 'astro-icon'
import {SEO} from 'astro-seo'
import '../styles/m-header.scss';

const {title, seoData, seoSchema} = Astro.props;

let canonical = seoData.canonical ? seoData.canonical : Astro.request.url
if(canonical){
    canonical = canonical.replace(/\.[^/.]+$/, '')
}
---
<head class="m-header">
	<script type="text/javascript" >
		var url = window?.location?.href
		if(url && url.includes('.html')) {
			window.location.href = url.replace('.html', '');
		}
		if(url && url.length > 1 && url.charAt(url.length -1) === '/') {
			window.location.href = url.slice(0, -1); 
		}
	</script>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width"/>
	<Icons/>
	{seoData && (
	    <SEO
		    canonical={canonical}
		    title={seoData.title}
		    description={seoData.description}
		    noindex={seoData.noindex}/>
	)}
	<link rel="sitemap" href="/sitemap-index.xml">
	<meta name="generator" content={Astro.generator}/>
	<Schema item={seoSchema}/>

	<title>{title}</title>

	<a href="/" class="m-header-title">
	<Image
		src="/img/logo-50x50.webp"
		format="webp"
		width="50"
		height="50"
		alt="logo-ibf-equicoaching"
	/>
	<p class="m-header-title-text">IBF Equicoaching</p>
	</a>
	<div class="m-header-line"/>
	<Icon class="m-header-icon hidden" name="ic:baseline-close"/>
	<Icon class="m-header-icon" name="ic:round-menu"/>
	<nav class="m-header-menu">
	<Menu/>
	</nav>
	<div class="m-header-mobile-overlay hidden"/>
</head>
