---
import {Image} from 'astro:assets';//Do not Remove that !
import Menu from '../components/Menu.astro';
import { Schema } from "astro-seo-schema"
import Icons from '../components/Icons.astro';
import { Icon } from 'astro-icon/components'
import {SEO} from 'astro-seo'
import '../styles/m-header.scss';

const {title, seoData, seoSchema} = Astro.props;

let canonical = seoData.canonical ? seoData.canonical : Astro.request.url
if(canonical){
    canonical = canonical.replace(/\.[^/.]+$/, '')
}
---
<head class="m-header">
	<script type="text/javascript" >
		var url = window?.location?.href;
		const hasHtmlExtension = !!(url && url.includes('.html'));
		const hasSlashTrailing = !!(url && url !== (window?.location?.origin + '/') && url.length > 1 && url.charAt(url.length -1) === '/');
		if(hasHtmlExtension || hasSlashTrailing) {
			const metaRobots = document.createElement('meta');
			metaRobots.name = 'robots';
			metaRobots.content = 'noindex';
			document.head.appendChild(metaRobots);
		}
	</script>
	<script type="text/javascript">
		if(hasHtmlExtension) {
			window.location.href = url.replace('.html', '');
		}
		if(hasSlashTrailing) {
			window.location.href = url.slice(0, -1); 
		}
	</script>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width"/>
	<meta property="og:title" content="IBF Equicoaching" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.ibf-equicoaching.com/" />
	<meta property="og:image" content="https://www.ibf-equicoaching.com/img/what-is-equicoaching-550x550.webp" />
	<meta property="og:site_name" content="IBF Equicoaching">
	<meta name="twitter:title" content="IBF Equicoaching ">
	<meta name="twitter:description" content="Equicoaching et Coaching, Horse coaching, Coaching par le cheval">
	<meta name="twitter:image" content="https://www.ibf-equicoaching.com/img/what-is-equicoaching-550x550.webp">
	<meta name="twitter:image:alt" content="Equicoaching et Coaching par le cheval">
	<meta name="twitter:card" content="summary_large_image">
	<Icons/>
	{seoData && (
	    <SEO
		    canonical={canonical}
		    title={seoData.title}
		    description={seoData.description}
		    keywords="formations, equicoaching, horse coaching, entreprise, coaching, communiquer, cheval, chevaux, hippocoaching, coaching par le cheval"
		    noindex={seoData.noindex}/>
	)}
	<link rel="sitemap" href="/sitemap-index.xml">
	<meta name="generator" content={Astro.generator}/>
	<Schema item={seoSchema}/>

	<title>{title}</title>

	<a href="/" class="m-header-title">
	<Image
		src="/img/logo-50x50.webp"
		format="webp"
		width="50"
		height="50"
		alt="logo-ibf-equicoaching"
	/>
	<p class="m-header-title-text">IBF Equicoaching</p>
	</a>
	<div class="m-header-line"/>
	<Icon class="m-header-icon hidden" name="ic:baseline-close"/>
	<Icon class="m-header-icon" name="ic:round-menu"/>
	<nav class="m-header-menu">
	<Menu/>
	</nav>
	<div class="m-header-mobile-overlay hidden"/>
</head>
