---
import '../styles/m-section.scss';
import { YouTube } from '@astro-community/astro-embed-youtube';
import { Image } from '@astrojs/image/components';
import SectionText from '../components/SectionText.astro';

const { subTitle, displayTextLeft, imgContent, ytbLink, actions } = Astro.props;
---
<section class="m-section">
    {imgContent && !displayTextLeft && (
        <div class="m-section-picture">
            <Image src={imgContent.src} alt={imgContent.alt} width="320" height="320" format="webp" />
        </div>
    )}
    {ytbLink && !displayTextLeft &&  (
        <div class="m-section-video">
            <YouTube id={ytbLink} params="webp=true" />
        </div>
    )}
    <SectionText subTitle={subTitle} actions={actions} alone={imgContent || ytbLink}>
        <slot name="section-title" slot="section-title"/>
        <slot name="section-content" slot="section-content"/>
    </SectionText>
    {imgContent && displayTextLeft && (
            <div class="m-section-picture">
                <Image src={imgContent.src} alt={imgContent.alt} width="320" height="320" format="webp" />
            </div>
    )}
    {ytbLink && displayTextLeft &&  (
        <div class="m-section-video">
            <YouTube id={ytbLink} params="webp=true" />
        </div>
    )}
</section>