---
import '../styles/m-section.scss';
import {YouTube} from '@astro-community/astro-embed-youtube';
import {Image} from '@astrojs/image/components';
import SectionText from '../components/SectionText.astro';

const {subTitle, displayTextLeft, imgContent, ytbLink, actions, wide} = Astro.props;
const width = imgContent && imgContent.width ? imgContent.width : 320
const height = imgContent && imgContent.height ? imgContent.height : 320
---
<section class="m-section">
    {imgContent && !displayTextLeft && (
            <div class="m-section-picture">
                <Image src={imgContent.src} alt={imgContent.alt} width={width} height={height} format="webp"/>
            </div>
    )}
    {ytbLink && !displayTextLeft && (
            <div class="m-section-video">
                <YouTube id={ytbLink} params="webp=true"/>
                <slot name="section-content-extra"/>
            </div>
    )}
    <SectionText subTitle={subTitle} actions={actions} alone={imgContent || ytbLink} wide={wide}>
        <slot name="section-title" slot="section-title"/>
        <slot name="section-content" slot="section-content"/>
    </SectionText>
    {imgContent && displayTextLeft && (
            <div class="m-section-picture">
                <Image src={imgContent.src} alt={imgContent.alt} width={width} height={height} format="webp"/>
            </div>
    )}
    {ytbLink && displayTextLeft && (
            <div class="m-section-video">
                <YouTube id={ytbLink} params="webp=true"/>
                <slot name="section-content-extra"/>
            </div>
    )}
</section>