---
import Icon from '../components/Icon.astro'
import '../styles/menu/m-submenu.scss';

const {info} = Astro.props;
---
<li class="m-submenu">
    <div class="m-submenu-action">
        {info.clickableLink && (
                <a class="m-submenu-link" href={info.clickableLink}>
                    {info.title}
                </a>
        )}
        {!info.clickableLink && (
                <span class="m-submenu-title">{info.title}</span>
        )}
        <Icon className="m-submenu-arrow" name="baseline-keyboard-arrow-down"/>
    </div>
    <ul class="m-submenu-content m-submenu-content-hidden">
        {info.links.map((item) => (
                <li class="m-submenu-content-link">
                    <a href={item.link}>
                        {item.title}
                    </a>
                </li>
        ))}
    </ul>
</li>